/* GLOBAL */
:root {
    --accent-color: #DAB875;
    --secondary-accent: #194F34
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* -webkit-box-sizing: border-box; */
    /* -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation; */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins Reg", sans-serif;
    color: #000;
    font-size: 20px;
    line-height: 1;
    font-weight: 400;
    position: relative;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
    padding: 0;
    margin: 0;
    line-height: 1;
    color: #000;
    font-family: 'Poppins Reg', sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    display: inline-block;
    color: inherit;
}

button,
input {
    border: none;
    background: transparent;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
    outline: none;
}

button {
    cursor: pointer;
}

ul,
ol,
li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    line-height: 1;
}

img {
    width: 100%;
    object-fit: contain;
}

/* FONTS */
@font-face {
    font-family: Poppins Reg;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins Med;
    src: url(../fonts/Poppins-Regular.ttf);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins Semi;
    src: url(../fonts/Poppins-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Poppins-Bold;
    src: url(/fonts/Poppins-Bold.ttf);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* DEFAULTS COMPONENTS */
.container {
    padding-left: 35px;
    padding-right: 35px;
}

/* LOADER */
.loader-overlay {
    background: url(../images/banner-light.webp) no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: 99;
    min-height: 100vh;
    left: 0;
    top: 0;
    right: 0;
    margin: auto;
}

.loader-overlay img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

.loader-overlay .loader-icon {
    width: 218px;
}

.loader-overlay .loader-logo {
    width: 517px;
    opacity: 0.5;
    transform: rotateY('90deg')
}

/* HEADER */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-top: 35px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1080px;
    margin: 0 auto;
}

header .logo {
    max-width: 115px;
    transition: all 0.25s;
}

header .navbar {
    display: flex;
}

header .navbar .navlist {
    display: flex;
    column-gap: 26px;
    gap: 75px;
}

header .navbar .navlist ul {
    display: flex;
    column-gap: 26px;
    row-gap: 30px;
}

header .container>.logo {
    display: none;
    transition: all 0.35s;
}

header .navbar ul li a {
    font-size: 16px;
    color: hsl(0, 0%, 100%);
    position: relative;
    padding-bottom: 5px;
    transition: all 0.25s;
    font-family: 'Poppins Semi', sans-serif;
    font-weight: 500;
}

header.dark .navbar .navlist:not(.active) ul li a,
header.dark2 .navbar .navlist:not(.active) ul li a {
    color: #333;
}

header.dark .navbar .logo,
header.dark2 .navbar .logo,
header.dark .container>.logo,
header.dark2 .container>.logo {
    filter: invert(0.7);
}

header.dark .nav-toggle:not(.change) .menu-bar1,
header.dark .nav-toggle:not(.change) .menu-bar2,
header.dark2 .nav-toggle:not(.change) .menu-bar1,
header.dark2 .nav-toggle:not(.change) .menu-bar2 {
    background: #333;
}

header.dark .search-wrapper i,
header.dark2 .search-wrapper i {
    color: #333;
}

header.dark .search-wrapper input,
header.dark .search-wrapper input::placeholder,
header.dark2 .search-wrapper input,
header.dark2 .search-wrapper input::placeholder {
    color: #333;
}

header.dark .search-wrapper input:focus,
header.dark2 .search-wrapper input:focus {
    border-color: #333;
}

header.dark .navbar ul li a::after,
header.dark2 .navbar ul li a::after {
    background-color: #333;
}

header .navbar ul li>a::after {
    content: '';
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: all 0.3s;
    height: 2px;
}

header .navbar ul li:hover a::after {
    width: 100%;
}

header .search-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
}

header .search-wrapper i {
    color: #fff;
    font-size: 16px;
    transition: all 0.25s;
    font-weight: 600;
}

header .search-wrapper input::placeholder,
header .search-wrapper input {
    color: #fff;
    transition: all 0.25s;
    font-size: 16px;
}

header .search-wrapper input {
    border-bottom: 1px solid transparent;
    max-width: 100px;
}

header .search-wrapper input:focus {
    border-bottom: 1px solid #fff;
}

header .search-wrapper .cart-box {
    margin-left: 20px;
    position: relative;
    cursor: pointer;
    z-index: -1;
}

header .search-wrapper .cart-box img {
    width: 30px;
    position: relative;
    z-index: -2;
    color: var(--accent-color);
}

header .search-wrapper .cart-box .total-orders {
    position: absolute;
    top: -2px;
    left: -12px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 12px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17px;
    height: 17px;
}

.nav-toggle {
    display: none;
}



/* BANNER */
.homepage-banner {
    min-height: 100vh;
    background: url(../images/banner-dark.jpg) repeat;
    background-size: contain;
    /* FOR MOBILES */
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bgRepeat 400000s linear infinite;
}

@keyframes bgRepeat {
    from {
        background-position: 0;
    }

    to {
        background-position: -999999%;
    }
}

.homepage-banner .container {
    margin: auto;
    max-width: 920px;
    width: 100%;
}

.homepage-banner .slider .slick-dots {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
}

.homepage-banner .slider .slick-dots .slick-active button {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
}

.homepage-banner .slider .slick-arrow {
    position: absolute;
    bottom: 0;
    left: 0;
}

.homepage-banner .slider .slide {
    height: 75vh;
    min-height: 400px;
    margin-inline: 10px;
    max-height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: end;
    z-index: 1;
}

.homepage-banner .slider .slide .bg {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: -1;
    display: block;
}

.homepage-banner .slider .slide .bg img {
    object-fit: cover;
    width: 100%;
    border-radius: 30px;
    height: 100%;

}

.homepage-banner .slider .slide .inner {
    margin-bottom: 72px;
    max-width: 520px;
}

.homepage-banner .slider .slide .title {
    font-size: 34px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 15px;
    text-align: center;
}

.homepage-banner .slider .slide .caption {
    font-size: 22px;
    font-weight: 400;
    color: #fff;
    line-height: 1.15;
    text-align: center;
}

.homepage-banner .slider .slick-dots {
    margin-bottom: 20px;
    gap: 35px;
    justify-content: center;
    width: 100%;
}

.homepage-banner .slider .slick-dots button {
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    color: transparent;
    border-radius: 50%;
}

.homepage-banner .slider .slick-arrow {
    position: absolute;
    right: 0;
    top: 0;
    height: fit-content;
    cursor: pointer;
    margin: auto;
    width: 26px;
    height: 46px;
    z-index: 1;
}

.homepage-banner .slider .slick-next {
    right: 20px;
    left: unset;
}

.homepage-banner .slider .slick-prev {
    left: 20px;
    right: unset;
}

/* PANEL */

.default-panel {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    will-change: transform;
}

/* INVERTED */

.default-panel.inverted .container {
    flex-direction: row-reverse;
}

.default-panel.inverted .col-left .contact-us {
    margin-left: auto;
}

.default-panel.inverted .col-left h2 {
    text-align: end;
}

/* INVERTED END */
.default-panel .container {
    box-shadow: 7px 13px 10px 10px #b9b9b9;
    margin: 0 40px;
    max-width: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: transparent;
    z-index: 1;
    border-radius: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 70px;
    margin-top: 80px;
    height: 80vh;
}

.default-panel-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    object-fit: cover;
    z-index: -1;
    left: 0;
    border-radius: 30px;
    background-color: transparent;
}

.default-iconlist {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 32px;
}

.default-iconlist li {
    cursor: pointer;
    display: flex;
    width: fit-content;
    align-items: center;
    position: relative;
}

.default-iconlist li::after {
    content: '';
    width: 100%;
    position: absolute;
    background-color: #fff;
    border-radius: 30px;
    width: 55px;
    height: 55px;
    transition: all 0.4s;
    left: 0;
    box-shadow: 5px 5px 7px 4px #00000033;
    top: 0;
    z-index: -1;
}

.default-iconlist li:hover::after {
    width: 100%;
    border-radius: 50px;
    padding-right: 16px;
}

.default-iconlist li:hover span {
    opacity: 1;
}

.default-iconlist li .thumbnail {
    width: 55px;
    height: 55px;
    padding: 11px;
}

.default-iconlist li img {
    width: 100%;
    height: 100%;
}

.default-iconlist li span {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    opacity: 0;
    transition: all 0.1s ease-in;
}

.default-iconlist li:hover span {
    opacity: 1;
    transition-delay: 0.2s;
}

.default-panel .col-left .contact-us {
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 8px 12px 8px 8px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    width: fit-content;
    transition: all 0.3s;
    cursor: pointer;
}

.default-panel .col-left .contact-us img {
    padding: 5px;
    background-color: #fff;
    width: 38px;
    border-radius: 10px;
    height: 38px;
}

.default-panel .col-left .contact-us span {
    color: #333333;
    font-size: 26px;
    font-weight: 700;
    transition: all 0.3s;
}

.default-panel .col-left .contact-us:hover {
    background-color: #333333;
}

.default-panel .col-left .contact-us:hover span {
    color: #fff;
}

.default-panel .col-left h2 {
    color: #fff;
    font-size: 84px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 4px 3px 10px #303030;
}

.default-panel .col-right .box {
    width: 100%;
    max-width: 490px;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 13px 9px rgb(0 0 0 / 13%);
}

.default-panel .col-right .box p {
    font-size: 20px;
    font-weight: 400;
    color: var(--secondary-accent);
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 1.2;
    border-bottom: 2px solid var(--secondary-accent);
}

.default-panel .col-right .box h3 {
    font-size: 24px;
    font-weight: 700;
    color: var(--secondary-accent);
    margin-bottom: 15px;
}

.default-panel .col-right .box.specs-box {
    margin-bottom: 25px;
    padding: 40px 32px;
}

.default-panel .col-right .box.specs-box li {
    display: flex;
    align-items: center;
    gap: 13px;
    font-size: 20px;
    color: var(--secondary-accent);
    margin-bottom: 6px;
}

.default-panel .col-right .box.specs-box li::before {
    content: "";
    width: 4px;
    height: 4px;
    background-color: var(--secondary-accent);
    border-radius: 50%;
}

.default-panel .col-right .box.types-box ul {
    display: flex;
    gap: 15px;
    margin-bottom: 18px;
}

.default-panel .col-right .box.types-box {
    padding: 15px 35px 30px 35px;
    background-color: #E6E6E6;
    transition: all 0.3s;
}

.default-panel .col-right .box.types-box:hover {
    background-color: var(--accent-color);
}

.default-panel .col-right .box.types-box li {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 4px 4px 7px 4px #00000047;
    overflow: hidden;
}

.default-panel .col-right .box.types-box a {
    font-size: 19px;
    font-weight: 700;
    color: var(--secondary-accent);
    display: flex;
    align-items: center;
    gap: 15px;
}

.default-panel .col-right .box.types-box a img {
    max-width: 38%;
}

header .megamenu {
    background-color: #fff;
    position: absolute;
    border-radius: 0 0 30px 30px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    height: 0;
    padding: 0;
    overflow: hidden;
    transition: all 0.7s;
    opacity: 0;
}

header .navbar li:hover .megamenu {
    height: 422px;
    padding-top: 140px;
    padding-bottom: 100px;
    /* transition: all 0.4s; */
    opacity: 1;
    transition-delay: 0s;
}

header .megamenu .row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    gap: 35px;
    row-gap: 55px;
}

header .megamenu .col {
    width: 31%;
}

header .megamenu .col p {
    font-size: 15px;
    line-height: 1.2;
    color: #6b6b6b;
}

header .megamenu h3 {
    display: flex;
    gap: 6px;
    text-transform: uppercase;
    font-family: 'Poppins Semi', sans-serif;
    color: #333;
    margin-bottom: 10px;
    align-items: center;
    font-size: 24px;
}

header .megamenu h3 .right-shape {
    width: 20px;
    height: 0px;
    transition: 0.4s;
    border-bottom: 2px solid #333;
    position: relative;
    display: block;
}

.right-arrow {
    position: relative;
    width: 120px;
    transition: 0.3s;
    width: 35%;
    padding: 10px 0px;
}

.right-shape:after {
    content: "";
    border: solid #333;
    border-width: 0px 2px 2px 0px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(321deg);
    width: 6px;
    height: 0px;
    position: absolute;
    right: 0;
    padding: 5px 2px;
    top: -5px;
}


header .megamenu .col:hover .right-shape {
    width: 100%;
}


.default-iconlist.inverted {
    align-items: end;
}

.default-iconlist.inverted li {
    flex-direction: row-reverse;
}

.default-iconlist.inverted li::after {
    right: 0;
    left: auto;
}

header .navlist>.icon {
    display: none;
}


.search-section {
    display: none;
}

/* FOOTER */
footer {
    background: url(../images/green-bg.webp) no-repeat center;
    background-size: cover;
    padding-block: 70px;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    margin-top: 60px;
}

footer .container {
    max-width: 1040px;
    margin: 0 auto;
}

footer .container .row {
    display: flex;
    justify-content: space-between;
}

footer .container .row .col-left .thumbnail img,
footer .container .row .col-right .thumbnail img {
    width: 240px;
    margin-bottom: 40px;
}

footer .container .row .col-right .thumbnail img {
    display: none;
}

footer .container .row .col-left>span {
    font-size: 20px;
    color: #fff;
    margin-bottom: 24px;
    display: block;
    line-height: 1.2;
}

footer .container .row .col-left ul {
    display: flex;
    gap: 5px;
    margin-top: 50px;
}

footer .container .row .col-left ul img {
    width: 85px;
    height: 85px;
}

footer .container .row .col-right .contact-us {
    background-color: var(--accent-color);
    border-radius: 15px;
    padding: 10px 13px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 0 0 20px auto;
    width: fit-content;
    transition: all 0.3s;
    cursor: pointer;
    margin-bottom: 65px;
}

footer .container .row .col-right .contact-us img {
    padding: 5px;
    background-color: #fff;
    width: 38px;
    border-radius: 10px;
    height: 38px;
}

footer .container .row .col-right .contact-us span {
    color: #333333;
    font-size: 28px;
    font-weight: 700;
    transition: all 0.3s;
}

footer .container .row .col-right .contact-us:hover {
    background-color: #333333;
}

footer .container .row .col-right .contact-us:hover span {
    color: #fff;
}


footer .container .row .col-right .navlist {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    margin-bottom: 60px;
    row-gap: 24px;
}

footer .container .row .col-right .social-iconlist {
    display: flex;
    justify-content: end;
    gap: 20px;
}

footer .container .row .col-right .social-iconlist img {
    width: 45px;
}

footer .container .row .col-right .navlist a {
    font-size: 20px;
    color: #fff;
}

/* INTRO */

.intro-section {
    height: 110vh;
    max-height: 850px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.intro-section .container {
    position: relative;
    max-width: 1440px;
    width: 100%;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-section h2 {
    font-size: 54px;
    color: #333;
    font-family: 'Poppins Semi', sans-serif;
    text-align: center;
}

.intro-section .hovering-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.intro-section .hovering-card {
    position: absolute;
}

.intro-section .hovering-card.black {
    width: 275px;
    height: 210px;
    left: 0;
    top: 10%;
    rotate: 15deg;
}

.intro-section .hovering-card.smoke {
    width: 370px;
    height: 210px;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    rotate: -10deg;
}

.intro-section .hovering-card.gray {
    width: 280px;
    height: 260px;
    bottom: 30px;
    left: 0;
    rotate: -10deg;
    left: 40px;
}

.intro-section .hovering-card.brown {
    width: 380px;
    height: 170px;
    right: 0;
    top: 10%;
    rotate: 10deg;
}

.intro-section .hovering-card.white {
    width: 400px;
    height: 200px;
    bottom: 30px;
    right: 80px;
    rotate: 10deg;
}

/* QUERIES */
@media screen and (min-width: 1700px) {
    .default-iconlist li .thumbnail {
        width: 70px;
        height: 70px;
        padding: 15px;
    }

    .default-iconlist li::after {
        border-radius: 40px;
        width: 70px;
        height: 70px;
    }

    .default-panel .col-right .box.types-box li {
        width: 70px;
        height: 70px;
    }

    .default-panel .col-right .box.types-box a {
        font-size: 20px;
    }

    .default-panel .col-left .contact-us img {
        padding: 8px;
        width: 50px;
        height: 50px;
    }

    .default-panel .col-left .contact-us span {
        font-size: 28px;
    }

    .default-panel .col-left h2 {
        font-size: 100px;
    }

    .default-panel .col-right .box p {
        font-size: 20px;
    }

    .default-panel .col-right .box h3 {
        font-size: 26px;
        font-weight: 700;
        color: var(--secondary-accent);
        margin-bottom: 15px;
    }
}

@media screen and (min-width: 1920px) {
    .default-iconlist li .thumbnail {
        width: 80px;
        height: 80px;
        padding: 16px;
    }

    .default-iconlist li::after {
        border-radius: 40px;
        width: 80px;
        height: 80px;
    }

    .default-panel .col-left .contact-us img {
        padding: 10px;
        width: 60px;
        height: 60px;
    }

    .default-panel .col-left .contact-us span {
        font-size: 30px;
    }

    .default-panel .col-left h2 {
        font-size: 110px;
    }

    .default-panel .col-right .box.types-box {
        padding: 25px 35px 30px 35px;
        background-color: #E6E6E6;
        transition: all 0.3s;
    }

    .default-panel .col-right .box p {
        font-size: 26px;
        line-height: 1.15;
    }

    .default-panel .col-right .box h3 {
        font-size: 30px;
    }

    .default-panel .col-right .box.specs-box li {
        font-size: 24px;
    }

    .default-panel .col-right .box {
        max-width: 600px;
    }

    .default-panel .col-right .box.types-box ul {
        margin-bottom: 25px;
    }

    .default-panel .col-right .box.types-box a {
        font-size: 24px;
    }

    .default-panel .col-right .box.types-box li {
        width: 80px;
        height: 80px;
    }

    .default-iconlist li span {
        font-size: 28px;
    }
}

@media screen and (max-width: 1439px) {
    .default-panel .container {
        padding-left: 35px;
    }

    .default-panel .col-left .contact-us span {
        font-size: 24px;
    }

    .default-panel .col-left h2 {
        font-size: 80px;
    }
}

@media screen and (max-width: 1199px) {
    header .navbar {
        gap: 135px;
    }

    .homepage-banner .slider .slide .title {
        font-size: 32px;
    }

    .homepage-banner .slider .slide .caption {
        font-size: 20px;
    }

    .homepage-banner .slider .slide .inner {
        max-width: 520px;
    }

    .homepage-banner .slider .slick-dots button {
        width: 18px;
        height: 18px;
    }

    .loader-overlay .loader-icon {
        width: 180px;
    }

    .loader-overlay .loader-logo {
        width: 450px;
    }

    /* PANEL */
    .default-panel .container {
        padding-left: 20px;
        padding-right: 20px;
    }

    .default-panel .col-right .box p {
        font-size: 18px;
    }

    .default-panel .col-right .box h3 {
        font-size: 22px;
    }

    .default-panel .col-right .box.specs-box li {
        font-size: 18px;
    }

    .default-panel .col-right .box.types-box a {
        font-size: 18px;
    }

    .default-panel .col-right .box.types-box a img {
        max-width: 35%;
    }

    /* PANEL */
    .default-panel .col-right .box.specs-box li {
        font-size: 17px;
    }

    .default-panel .col-right .box {
        max-width: 425px;
    }

    .default-panel .col-left h2 {
        font-size: 65px;
    }

    .default-panel .col-left .contact-us span {
        font-size: 20px;
    }

    .intro-section .hovering-card.black {
        width: 250px;
        height: 160px;
    }

    .intro-section .hovering-card.smoke {
        width: 270px;
        height: 160px;
    }

    .intro-section .hovering-card.brown {
        width: 270px;
        height: 150px;
    }

    .intro-section .hovering-card.gray {
        width: 300px;
        height: 200px;
    }

    .intro-section .hovering-card.white {
        width: 350px;
        height: 170px;
    }
}

@media screen and (max-width: 991px) {
    header .navbar {
        gap: 65px;
    }

    header .container>.logo {
        display: block;
    }

    header .navbar .logo {
        display: none;
    }

    .loader-overlay .loader-icon {
        width: 150px;
    }

    .loader-overlay .loader-logo {
        width: calc(100% - 100px);
        max-width: 400px;
    }

    /* .loader-overlay .loader-logo {
        max-width: 570px;
    } */

    /* NAV MENU */

    .nav-toggle {
        display: inline-block;
        /* padding: 10px; */
        width: 40px;
        cursor: pointer;
        z-index: 1;
        top: 0;
        left: 0;
        position: relative;
        transition: all 0.35s;
    }





    .menu-bar1,
    .menu-bar2 {
        width: 100%;
        height: 3px;
        background: #fff;
        transition: 0.3s ease-in-out;
        display: block;
    }

    .menu-bar1 {
        margin-bottom: 6px;
    }

    .nav-toggle.change .menu-bar1 {
        -webkit-transform: rotate(-45deg) translate(1px, 1px);
        transform: rotate(-45deg) translate(-2px, -3px);
    }

    .nav-toggle.change .menu-bar2 {
        -webkit-transform: rotate(45deg) translate(-3px, -5px);
        transform: rotate(45deg) translate(-8px, -5px);
    }

    .navbar ul {

        flex-direction: column;

        justify-content: center;
        align-items: center;
    }


    .navbar .navlist {
        transition: all 0.6s;
        position: absolute;
        left: 0%;
        top: 0;
        width: 0%;
        overflow: hidden;
        height: 100vh;
        background-color: #333333;
        visibility: hidden;
        padding: 30px 20px 20px 20px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        opacity: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .navbar .navlist .icon {
        width: 65px;
    }

    header .navlist>.icon {
        display: block;
    }

    header .navbar ul li a {
        font-size: 20px;
    }

    .navbar .navlist.active {
        padding: 30px 20px 20px 20px;
        visibility: visible;
        width: 90%;
        opacity: 1;
    }

    .nav-toggle.change {
        top: 60px;
        left: 30px;
    }

    header .search-section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        left: 10%;
        display: block;
        position: absolute;
        position: absolute;
        top: 60px;
        right: 30px;
    }

    header .search-section input {
        font-family: Poppins, sans-serif;
        border: none;
        padding: 0.6rem;
        outline: none;
        background: #333;
        transition: all ease .4s;
        height: 40px;
        width: 0px;
        position: absolute;
        border-radius: 50px;
        color: transparent;
        top: 75px;
        color: #fff;
    }

    header .search-section input:focus {
        width: 100%;
        background: rgba(255, 255, 255, .5);
        padding: 0.6rem 2.5rem 0.6rem 1rem;
        color: inherit;
        color: #fff;
    }

    header .search-section input::placeholder {
        color: #fff;
    }

    header .search-section .go-search {
        position: absolute;
        right: 0px;
        cursor: pointer;
        padding: 0.8rem;
    }

    /* .go-search:hover i {
        color: teal;
    } */

    header .search-section:hover input {
        width: 100%;
        background: rgba(255, 255, 255, .5);
        padding: 0.6rem 2.5rem 0.6rem 1rem;
        color: inherit;
    }

    header .search-section:hover input::placeholder {
        color: #f0f0f0;
    }

    header .search-section .go-search img {
        width: 35px;
        transition: all .15s linear;
    }

    header .search-wrapper>i {
        display: none;
    }

    header .search-wrapper input {
        display: none;
    }

    header .container>.logo {
        width: 105px;
    }

    header {
        padding-top: 20px;
    }

    .container {
        padding-left: 18px;
        padding-right: 18px;
    }

    .homepage-banner .slider .slick-dots {
        gap: 20px;
    }

    .homepage-banner .slider .slick-arrow {
        width: 20px;
    }

    .homepage-banner .slider .slick-next {
        margin-right: 10px;
    }

    .homepage-banner .slider .slick-prev {
        margin-left: 10px;
    }

    .homepage-banner .slider .slide .caption {
        font-size: 16px;
    }

    .homepage-banner .slider .slide .title {
        font-size: 25px;
    }

    .homepage-banner .slider .slide .inner {
        padding: 0 15px;
    }

    header .navbar ul li a {
        font-size: 22px;
        width: max-content;
    }

    header .navbar ul li a:hover {
        color: var(--accent-color);
    }

    header .navbar ul li a::after {
        display: none;
    }

    header .megamenu {
        display: none;
    }

    /* header .navbar ul li.icon {
        display: block;
        margin-top: 80px;
        width: 70px;
    } */

    .default-panel .col-left {
        display: flex;
        flex-direction: column;
        flex-direction: column-reverse;

    }

    .default-panel .container {
        flex-direction: column;
        justify-content: start;
        align-items: start;
    }

    .default-panel.inverted .container {
        flex-direction: column;
        justify-content: start;
        align-items: start;

    }

    .default-panel .default-panel-bg:not(:last-of-type) {
        display: none;
    }

    .default-panel {
        min-height: auto;
    }

    .default-panel .container {
        height: auto;
    }

    .default-panel .col-left .contact-us {
        order: 1;
    }

    .default-panel .col-left .contact-us {
        margin-bottom: 12px;
    }

    .default-panel .col-left {
        width: 100%;
    }

    .default-panel .col-left h2 {
        margin-bottom: 20px;
    }

    .default-iconlist {
        margin-bottom: 100px;
    }

    .default-iconlist.inverted-sm {
        align-items: end;
    }

    .default-iconlist.inverted-sm li {
        flex-direction: row-reverse;
    }

    .default-iconlist.inverted-sm li::after {
        right: 0;
        left: auto;
    }

    header .logo {
        position: relative;
        z-index: -1;
    }

    .default-panel.inverted .container {
        align-items: end;
    }

    .default-panel.inverted .default-iconlist {
        align-items: start;
    }

    .default-iconlist.inverted li {
        flex-direction: row;
    }

    .default-iconlist.inverted li::after {
        right: auto;
        left: 0;
    }

    /* FOOTER */
    footer .container .row .col-left {
        width: 60%;
    }

    footer .container .row .col-right {
        width: 30%;
    }

    footer .container .row .col-left>span {
        font-size: 18px;
    }

    footer .container .row .col-left ul {
        flex-wrap: wrap;
        row-gap: 20px;
    }
    .intro-section .hovering-card.black {
        width: 200px;
        height: 140px;
    }

    .intro-section .hovering-card.smoke {
        width: 240px;
        height: 130px;
    }

    .intro-section .hovering-card.brown {
        width: 230px;
        height: 140px;
    }

    .intro-section .hovering-card.gray {
        width: 260px;
        height: 160px;
    }

    .intro-section .hovering-card.white {
        width: 300px;
        height: 150px;
    }
}

@media screen and (max-width: 767px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .homepage-banner .slider .slide {
        margin-inline: 5px;
    }

    .loader-overlay .loader-logo {
        max-width: 250px;
    }

    .default-panel .col-right {
        width: 100%;
    }

    .default-panel .container {
        margin-inline: 15px;
        padding-inline: 15px;
        margin-block: 40px;
    }

    .default-panel .col-right .box.types-box ul {
        flex-wrap: wrap;
    }

    .default-iconlist {
        margin-bottom: 40px;
    }

    .default-panel .col-right .box.specs-box,
    .default-panel .col-right .box.types-box {
        margin-bottom: 25px;
        padding-inline: 20px;
        border-radius: 15px;
    }

    .default-panel .container,
    .default-panel-bg {
        border-radius: 20px;
    }

    .default-panel .col-right .box.types-box ul {
        gap: 10px;
    }

    .default-iconlist li span {
        font-size: 18px;
    }

    .default-panel .col-left h2 {
        font-size: 55px;
    }

    .default-panel .col-right .box.specs-box li {
        font-size: 16px;
        line-height: 1.2;
    }

    .default-panel .col-right .box.types-box li {
        width: 50px;
        height: 50px;
    }

    .default-panel .col-right .box.types-box a {
        font-size: 16px;
        flex-direction: column;
        align-items: start;
        gap: 8px;
    }

    .default-iconlist li .thumbnail {
        width: 55px;
        height: 55px;
        padding: 13px;
    }

    /* FOOTER */

    footer .container .row {
        flex-direction: column-reverse;

    }

    footer .container .row .col-left .thumbnail img {
        display: none;
    }

    footer .container .row .col-right .thumbnail img {
        display: block;
    }
    
    footer .container .row .col-right .thumbnail {
        width: 100%;

    }

    footer .container .row .col-right {
        display: flex;
        width: 100%;
        align-items: start;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }

    footer .container .row .col-right .social-iconlist {
        order: 2;
        margin-bottom: 20px;
    }

    footer .container .row .col-right .navlist {
        order: 3;
    }

    footer .container .row .col-left {
        width: 100%;
    }

    footer .container .row .col-right .contact-us {
        display: none;
    }

    footer .container .row .col-left>span {
        font-size: 18px;
    }

    footer .container .row .col-right .navlist {
        margin-bottom: 40px;
        gap: 10px;
        row-gap: 20px;
    }

    footer .container .row .col-left ul {
        margin-top: 35px;
    }

    footer {
        padding-block: 50px;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    .intro-section .hovering-card.black {
        width: 110px;
        height: 90px;
    }

    .intro-section .hovering-card.smoke {
        width: 110px;
        height: 90px;
    }

    .intro-section .hovering-card.brown {
        width: 110px;
        height: 90px;
    }

    .intro-section .hovering-card.gray {
        width: 110px;
        height: 90px;
        left: 20px;
    }

    .intro-section .hovering-card.white {
        width: 120px;
        height: 100px;
        right: 20px;
    }
    .intro-section h2 {
        font-size: 48px;
    }
}

/* BANNER OFFSET FROM TOP  */

@media screen and (max-height: 750px) {
    .homepage-banner .container {
        padding-top: 100px;
    }
}

@media screen and (max-height: 750px) and (max-width: 991px) {
    header .navbar .navlist ul {
        padding-top: 130px;
    }
}

@media screen and (max-height: 670px) {

    .default-panel .col-right .box.specs-box,
    .default-panel .col-right .box.types-box {
        padding-block: 20px;
    }
}